@import 'variables';

.queue{
    align-items: center;

    :global(.ms-DetailsRow), :global(.ms-DetailsRow-fields){
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

    :global(.dragEnter){
        background: $ms-color-neutralLighterAlt;
    }
}