{
    "presets": [
        "env", 
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "syntax-dynamic-import", //codesplitting
        "react-loadable/babel",
        "react-hot-loader/babel"
    ]
}