@import "$homeDir/lib/css/_fonts.scss";
@import "$homeDir/lib/css/_breakpoints.scss";

.bouton{
  border: none;
  background: transparent;
  font-size: 0.9em;
  padding: 0.25em;
  margin: 0 5px;
  transition: background 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &, &:focus{
    border: 5px solid transparent;
    border-radius: 5px;
  }
  &:hover{
    background: #FFF;
  }

  span{
    text-transform: lowercase;
    display: none;
  }

  @media #{$large}, #{$xlarge}{
    span{
      display: inline;
      margin-left: 0.5em;
    }
  }
}

.icone{
  @include icone;
  font-size: 1.2em;

  @media #{$large}, #{$xlarge}{
  }
}
