.progressBar{
  position: relative;
  background: #E9E9E9;
  border:1px solid #FFF;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  flex:0.25;
  margin: 0 0.5em;

  span{
      position: relative;
      z-index: 1;
  }

  div{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background: #00F500;

      &[data-width="50"]{
          width: 50%;
      }
  }
}
